@font-face {
  font-family: "iconfont"; /* Project id 2849509 */
  src: url('iconfont.woff2?t=1633421632914') format('woff2'),
       url('iconfont.woff?t=1633421632914') format('woff'),
       url('iconfont.ttf?t=1633421632914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-2User:before {
  content: "\e60f";
}

.icon-a-Arrow-UpCircle:before {
  content: "\e611";
}

.icon-a-Arrow-Up:before {
  content: "\e612";
}

.icon-a-CallMissed:before {
  content: "\e613";
}

.icon-Chart:before {
  content: "\e614";
}

.icon-Camera:before {
  content: "\e615";
}

.icon-a-Arrow-RightCircle:before {
  content: "\e610";
}

.icon-Discovery:before {
  content: "\e616";
}

.icon-Chat:before {
  content: "\e617";
}

.icon-a-Arrow-Right:before {
  content: "\e618";
}

.icon-a-Bag2:before {
  content: "\e619";
}

.icon-a-CallSilent:before {
  content: "\e61a";
}

.icon-Delete:before {
  content: "\e61b";
}

.icon-Download:before {
  content: "\e61c";
}

.icon-Danger:before {
  content: "\e61d";
}

.icon-a-Arrow-Left:before {
  content: "\e61e";
}

.icon-Discount:before {
  content: "\e61f";
}

.icon-a-Filter2:before {
  content: "\e620";
}

.icon-Edit:before {
  content: "\e621";
}

.icon-Category:before {
  content: "\e622";
}

.icon-Graph:before {
  content: "\e623";
}

.icon-Bag:before {
  content: "\e624";
}

.icon-Home:before {
  content: "\e625";
}

.icon-Heart:before {
  content: "\e626";
}

.icon-Game:before {
  content: "\e627";
}

.icon-a-EditSquare:before {
  content: "\e628";
}

.icon-Call:before {
  content: "\e629";
}

.icon-a-InfoSquare:before {
  content: "\e62a";
}

.icon-Hide:before {
  content: "\e62b";
}

.icon-a-InfoCircle:before {
  content: "\e62c";
}

.icon-Lock:before {
  content: "\e62d";
}

.icon-a-CloseSquare:before {
  content: "\e62e";
}

.icon-Location:before {
  content: "\e62f";
}

.icon-Filter:before {
  content: "\e630";
}

.icon-a-Image2:before {
  content: "\e631";
}

.icon-Document:before {
  content: "\e632";
}

.icon-Calendar:before {
  content: "\e633";
}

.icon-Logout:before {
  content: "\e634";
}

.icon-Message:before {
  content: "\e635";
}

.icon-a-PaperFail:before {
  content: "\e636";
}

.icon-a-MoreCircle:before {
  content: "\e637";
}

.icon-Calling:before {
  content: "\e638";
}

.icon-Image:before {
  content: "\e639";
}

.icon-Login:before {
  content: "\e63a";
}

.icon-a-MoreSquare:before {
  content: "\e63b";
}

.icon-Search:before {
  content: "\e63c";
}

.icon-Profile:before {
  content: "\e63d";
}

.icon-a-PaperPlus:before {
  content: "\e63e";
}

.icon-Plus:before {
  content: "\e63f";
}

.icon-Play:before {
  content: "\e640";
}

.icon-a-TickSquare:before {
  content: "\e641";
}

.icon-Notification:before {
  content: "\e642";
}

.icon-Paper:before {
  content: "\e643";
}

.icon-Folder:before {
  content: "\e644";
}

.icon-a-PaperNegative:before {
  content: "\e645";
}

.icon-a-PaperUpload:before {
  content: "\e646";
}

.icon-a-ShieldDone:before {
  content: "\e647";
}

.icon-Scan:before {
  content: "\e648";
}

.icon-Show:before {
  content: "\e649";
}

.icon-Star:before {
  content: "\e64a";
}

.icon-a-TimeSquare:before {
  content: "\e64b";
}

.icon-Password:before {
  content: "\e64c";
}

.icon-a-TimeCircle:before {
  content: "\e64d";
}

.icon-Upload:before {
  content: "\e64e";
}

.icon-Video:before {
  content: "\e64f";
}

.icon-a-Voice2:before {
  content: "\e650";
}

.icon-Swap:before {
  content: "\e651";
}

.icon-a-ShieldFail:before {
  content: "\e652";
}

.icon-Send:before {
  content: "\e653";
}

.icon-a-VolumeDown:before {
  content: "\e654";
}

.icon-Wallet:before {
  content: "\e655";
}

.icon-a-VolumeUp:before {
  content: "\e656";
}

.icon-Ticket:before {
  content: "\e657";
}

.icon-a-VolumeOff:before {
  content: "\e658";
}

.icon-Voice:before {
  content: "\e659";
}

.icon-Setting:before {
  content: "\e65a";
}

.icon-Work:before {
  content: "\e65b";
}

.icon-a-TicketStar:before {
  content: "\e65c";
}

.icon-a-PaperDownload:before {
  content: "\e65d";
}

.icon-Unlock:before {
  content: "\e65e";
}

